# FICHA DE OBSERVACION
# Observador:
#   Nombre:       {{ observer.name }} {{ observer.surname }} 
#   Organizacion: {{ observer.organization  }}
{% if observation.other_observers is defined -%}
# Observadores adicionales: {{ observation.other_observers  }}
{% endif -%}
# Fotometro: 
#   Modelo:          {{ photometer.model }}
#   Identificador:   {{ photometer.serial_number }}
{% if photometer.fov is defined -%}
#   Campo de vision: {{ photometer.fov }}
{% endif -%}
# Sitio:
#   Nombre:       {{ site.site }}
#   Coordenadas:  {{ site.latitude }}, {{ site.longitude }}
#   Altitud:      {{ site.altitude }} m
#   Municipio:    {{ site.location }}
#   Provincia:    {{ site.province }}
#   Comunidad:    {{ site.region }}
#   Pais:         {{ site.country }}
#   Zona horaria: {{ site.timezone }}
# Fecha y Hora:
{% if start_date is defined -%}
#   Comienzo:     {{ start_date.date }}T{{ start_time.time }}
{% endif -%}
{% if end_date is defined -%}
#   Final:        {{ end_date.date }}T{{ end_date.time }}
{% endif -%}
# Otros datos de la observacion:
{% if temperature is defined -%}
#   Temperatura:  {{ temperature }} ºC
{% elif temperature_initial is defined -%}
#   Temperatura:  {{ temperature_initial }} ºC (inicio), {{ temperature_final }} ºC (fin)
{% elif temperature_max -%}
#   Temperatura:  {{ temperature_max }} ºC (max.), {{ temperature_max }} ºC (min.)
{% endif -%}
{% if humidity is defined -%}
#   Humedad:      {{ humidity }} %
{% elif humidity_initial is defined -%}
#   Humedad:      {{ humidity_initial }}% (inicio), {{ humidity_final }}% (fin)
{% elif humidity_max is defined -%}
#   Humedad:     {{ humidity_max }} % (max.), {{ humidity_min }} % (min.)
{% endif -%} 
{% if observation.weather is defined -%}
#   Cielo:        {{ observation.weather  }}
{% endif -%}
{% if observation.comment is defined -%}
#   Comentario:   {{ observation.comment  }}
{% endif -%}
# altura;acimut;magnitud;temperatura_de_cielo;marca_de_tiempo
# FIN DE CABECERA
{% for reading in readings -%}
{{ reading.altitude }};{{ reading.azimuth }};{{ reading.magnitude }};{{ reading.tsky | default(omit) }};{{ reading.timestamp | default(omit) }}
{% endfor -%}
